<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <div class="form-border" id="form-border">
        <form class="form" id="form" action="/success" method="POST">
          <div id="form-area" class="form-area">
            <h1>Contact us</h1>
            <hr/>
            <label for="fname" id="fname-label">Name</label><br />
            <input
              class="input"
              type="text"
              name="fname"
              id="fname"
              autocomplete="name"
            /><br />

            <label for="email">Email</label><br />
            <input
              class="input"
              type="text"
              name="email"
              id="email"
              autocomplete="email"
            /><br />

            <button class="submit-button" id="submit-button">Submit</button>
          </div>
        </form>
      </div>
    </main>

<%- include('includes/end.ejs') %>